FTPS_PUBLIC_IP=127.0.0.1
FTPS_LOCAL_USER=ftpssvc
FTPS_LOCAL_PASSWORD=CHANGEME_use_a_strong_password
FTPS_PASSIVE_MIN_PORT=1024
FTPS_PASSIVE_MAX_PORT=1034
FTPS_ENABLE_STORAGE_FORWARD=true
FTPS_FORWARD_INTERVAL_SECONDS=60
FTPS_FORWARD_DELETE_AFTER=false

FTPS_STORAGE_SFTP_HOST=storageaccount.blob.core.windows.net
FTPS_STORAGE_SFTP_PORT=22
FTPS_STORAGE_SFTP_USERNAME=storage-local-user
FTPS_STORAGE_SFTP_PASSWORD=CHANGEME_storage_password
FTPS_STORAGE_SFTP_REMOTE_DIR=.